<div class="contenedor-con-fondo position-fixed top-0 start-0 w-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">attach_money</i>
          <span class="text">Ingresos</span>
        </span>
        <button (click)="Ingreso()" class="cssbuttons-io-button positionadd">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
        </button>
        <button class="button position-dowland" type="button">
          <span class="button__text">Descargar</span>
          <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
        </button>
        <button (click)="paginap()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
      </div>
    </div>
  </div>


  
  <div class="container mt-4">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="pink-background">Id</th>
            <th class="pink-background">Nombre completo</th>
            <th class="pink-background">Unidad de Negocio</th>
            <th class="pink-background">Año mes de reporte</th>
            <th class="pink-background">Producto</th>
            <th class="pink-background">Fecha real</th>
            <th class="pink-background">Fecha Sistema</th>
            <th class="pink-background">Monto total</th>
            <th class="pink-background">User Id</th>
            <th class="pink-background">Editar</th>
            <th class="pink-background">Archivar</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingreso of listIngresos">
            <td>{{ ingreso.id }}</td>
            <td>{{ ingreso.nombrecompleto }}</td>
            <td>{{ ingreso.nombreunidad }}</td>
            <td>{{ ingreso.anomesdereporte }}</td>
            <td>{{ ingreso.producto }}</td>
            <td>{{ ingreso.fechareal}}</td>
            <td>{{ ingreso.created_at}}</td>
            <td>{{ ingreso.montototal}}</td>
            <td>{{ ingreso.user_id}}</td>
            <td><button (click)="editar()" class="btn btn-danger">Editar</button></td>
            <td><button (click)="archivarIngreso(ingreso.id)" class="btn btn-danger">Archivar</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
