<form [formGroup]="ingresoForm" (ngSubmit)="agregarIngreso()">
    <div class="card formulario">
    <div class="card-header">
      <div class="text-header">Registar nuevo ingreso</div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="nombrecompleto">Nombre Completo:</label>
        <div class="input-group">
          <select class="form-control" formControlName="nombrecompleto">
            <option value="" disabled selected style="font-size: 12px; font-weight: lighter;">Selecciona un usuario</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario.nombrecompleto">{{ usuario.nombrecompleto }}</option>
          </select>                    
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
          </div>
        </div>
      </div>
    
        <div class="form-group">
          <label for="nombreunidad">Nombre Unidad de Negocio:</label>
          <div class="input-group">
            <select class="form-control" formControlName="nombreunidad">
              <option value="" disabled selected style="font-size: 12px; font-weight: lighter;">Selecciona una unidad</option>
              <option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad }}</option>
            </select>            
            <div class="input-group-append">
              <span class="input-group-text">
                <mat-icon>arrow_drop_down</mat-icon>
              </span>
            </div>
          </div>
        </div>  
        <div class="form-group">
          <label for="anomesdereporte">Año mes de reporte:</label>
          <input type="month" class="form-control" id="anomesdereporte" formControlName="anomesdereporte" placeholder="Escribe año y mes de reporte">
          <div *ngIf="ingresoForm.get('anomesdereporte')?.invalid && ingresoForm.get('anomesdereporte')?.touched"
          class="error-message form-text text-danger">El año y mes de reporte es requerido </div>
        </div>
        <div class="form-group">
          <label for="producto">Producto:</label>
          <div class="input-group">
            <select class="form-control" formControlName="producto">
              <option value="" disabled selected style="font-size: 12px; font-weight: lighter;">Selecciona un producto</option>
              <option *ngFor="let producto of productos" [value]="producto">{{ producto }}</option>
            </select>
            <div class="input-group-append">
              <span class="input-group-text">
                <mat-icon>arrow_drop_down</mat-icon>
              </span>
            </div>
          </div>
        </div>        
        <div class="form-group">
          <label for="fechareal">Fecha Real:</label>
          <input type="text" class="form-control" id="fechareal" formControlName="fechareal" placeholder="Escribe la fecha real">
          <div *ngIf="ingresoForm.get('fechareal')?.invalid && ingresoForm.get('fechareal')?.touched"
          class="error-message form-text text-danger">La fecha real es requerida </div>
        </div>
          <div class="form-group">
            <label for="montototal">Monto total:</label>
            <input type="text" class="form-control" id="montototal" formControlName="montototal" placeholder="Escribe el monto total">
          </div>
          <div class="form-group">
            <label for="user_id">Clave de Usuario:</label>
            <div class="input-group">
              <select class="form-control" formControlName="user_id">
                <option value="" disabled selected style="font-size: 12px; font-weight: lighter;">Opciones</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">
                  <mat-icon>arrow_drop_down</mat-icon>
                </span>
              </div>
            </div>
          </div>
          

       <input type="submit" class="btn" value="Registrar">
    </div>
  </div>
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">attach_money</i>
          <span class="text-home">Nuevo Ingreso</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 
</form>

 