<form [formGroup]="unidadForm" (ngSubmit)="agregarunidad()">
<div class="card formulario">
    <div class="card-header">
      <div class="text-header">Agregar Unidad de Negocio</div>
    </div>
    <div class="card-body">
        <div class="form-group">
          <label for="nombreunidad">Nombre Unidad de negocio:</label>
          <input type="text" class="form-control" id="nombreunidad" formControlName="nombreunidad" placeholder="Ingresa la unidad de negocio">
          <div *ngIf="unidadForm.get('nombreunidad')?.invalid && unidadForm.get('nombreunidad')?.touched"
          class="error-message form-text text-danger">La unidad es requerida con minimo 3 caracteres </div>
        </div>
       <input type="submit" class="btn" value="agregar">  
      </div>
 </div>

  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">business</i>
          <span class="text-home">Agregar Unidad</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div>
</form> 