.contenedor-con-fondo {
  height: 100vh; /* Usa la altura completa de la ventana */
  background-image: url('../../assets/img/fondolo.png');
  background-size: cover;
  background-position: center;
  position: relative; /* Ajusta la posición para elementos internos */
}

.imagen-centrada {
  width: 80%; /* Usa un porcentaje del ancho del contenedor */
  max-width: 800px; /* Establece un tamaño máximo */
  height: auto; /* Altura automática para mantener la proporción */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagen-de-tarjeta {
  width: 40%; /* Usa un porcentaje del ancho del contenedor */
  max-width: 400px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
}

.imagen-logo {
  width: 14%; /* Usa un porcentaje del ancho del contenedor */
  max-width: 140px;
  height: auto;
  position: absolute;
  top: 39%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.titulo {
  color: rgb(240, 242, 243);
  font-family: Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 15%;
  left: 58%;
}

.boton-ingresar {
  width: 100px; /* Ancho fijo del botón */
  height: 40px; /* Altura fija del botón */
  background-color: rgb(166, 181, 99); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  font-size: 16px; /* Tamaño de fuente del botón */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de puntero */
  display: flex; /* Permite centrar el contenido verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-radius: 10px; /* Bordes redondeados */
  position: absolute;
  top: 79%;
  left: 61%;
}

.boton-ingresar:hover {
  background-color: rgb(146, 161, 79); /* Color de fondo al pasar el cursor */
}

.boton-ingresar:focus {
  outline: none; /* Sin contorno al enfocar */
}

.input,
.input2 {
  width: 50%; /* Usa un porcentaje del ancho del contenedor */
  max-width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
  position: absolute;
}

.input {
  top: 55%;
  left: 57%;
}

.input2 {
  top: 68%;
  left: 57%;
}

.input:hover,
.input:focus,
.input2:hover,
.input2:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
