<div class="contenedor-con-fondo">
    <div class="contenedor-de-fondo-tarjeta">
        <!-- Contenido de tu componente -->
      <img src="../../assets/img/fondo2.png" class="imagen-centrada" alt="Tu imagen">
      <img src="../../assets/img/card.png" class="imagen-de-tarjeta" alt="Tu imagen">
      <img src="../../assets/img/logoverde.png" class="imagen-logo" alt="Tu imagen">
      <h1 class="titulo">Iniciar Sesión</h1>

      <button  (click)="navegarANuevaRuta()" class="boton-ingresar">Ingresar</button>

      <input class="input" placeholder="Correo Electrónico">

      <input class="input2" placeholder="Contraseña">
    </div>
   

  
    <!-- Contenido de tu componente -->
</div>
