
<div class="card formulario">
  <div class="card-header">
    <div class="text-header">Registrar un egreso</div>
  </div>
  <div class="card-body">
    <form action="#">
      <div class="form-group">
        <label for="username">Nombre de empresa:</label>
        <input required="" class="form-control" name="nombrecompleto" id="nombrecompleto" type="text">
      </div>
      <div class="form-group">
        <label for="email">Fecha real:</label>
        <input required="" class="form-control" name="nombreingreso" id="nombreingreso" type="text">
      </div>
      <div class="form-group">
          <label for="password">Fecha sistema:</label>
          <input required="" class="form-control" name="Ano_mes_de_reporte" id="Ano_mes_de_reporte" type="text">
        </div>
      <div class="form-group">
        <label for="password">Año mes de reporte:</label>
        <input required="" class="form-control" name="Ano_mes_de_reporte" id="Ano_mes_de_reporte" type="text">
      </div>
      <div class="form-group">
        <label for="confirm-password">Cuenta Origen Egresos:</label>
        <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
      </div>
      <div class="form-group">
          <label for="confirm-password">Tipo de cuenta:</label>
          <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Tipo de egreso:</label>
          <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Descripcion egreso:</label>
          <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Es gasto:</label>
          <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Unidad de negocio:</label>
          <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
        </div>
        <div class="form-group">
          <label for="confirm-password">Monto total:</label>
          <input required="" class="form-control" name="confirm-password" id="confirm-password" type="password">
        </div>
     <input type="submit" class="btn" value="Registrar"> </form>
  </div>
</div>




<div class="contenedor-con-fondo">
  <div class="row align-items-center">
    <div class="col-md-6">
      <span class="icon-and-text">
        <i class="material-icons">money</i>
        <span class="text-home">Registrar Egreso</span>
      </span>
      <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
     
    
    </div>
  </div>
</div> 


 
