<form [formGroup]="empresaForm" (ngSubmit)="actualizarEmpresa()">
<div class="card formulario">
    <div class="card-header">
      <div class="text-header">Editar una empresa</div>
    </div>
    <div class="card-body">
        <div class="form-group">
          <label for="nombreempresa">Nombre de la Empresa:</label>
          <input type="text" id="nombreempresa" formControlName="nombreempresa" class="form-control">
        </div>
        <button type="submit" class="btn form-control">Editar</button>
    </div>
  </div>
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">business</i>
          <span class="text-home">Editar Empresa</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 
</form>
