<form [formGroup]="usuarioForm" (ngSubmit)="guardarCambios()">
  <div class="card formulario">
      <div class="card-header">
        <div class="text-header">Editar usuario</div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="nombreempresa">Nombre Empresa:</label>
          <div class="input-group">
            <select class="form-control" formControlName="nombreempresa">
              <option value="" disabled selected style="font-size: 12px; font-weight: lighter;">Selecciona una empresa</option>
              <option *ngFor="let empresa of empresas" [value]="empresa">{{ empresa }}</option>
            </select>
            <div class="input-group-append">
              <span class="input-group-text">
                <mat-icon>arrow_drop_down</mat-icon>
              </span>
            </div>
          </div>
          <div *ngIf="usuarioForm.get('nombreempresa')?.invalid && usuarioForm.get('nombreempresa')?.touched"
          class="error-message form-text text-danger">El nombre de empresa es requerido </div>
        </div>     
        <div class="form-group">
          <label for="nombrecompleto">Nombre completo:</label>
          <input type="text" class="form-control" id="nombrecompleto" formControlName="nombrecompleto" placeholder="Escribe el nombre completo del usuario">
          <div *ngIf="usuarioForm.get('nombrecompleto')?.invalid && usuarioForm.get('nombrecompleto')?.touched"
          class="error-message form-text text-danger">La fecha real es requerida </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Escribe el correo electronico">
          <div *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched"
          class="error-message form-text text-danger">La fecha real es requerida </div>
        </div>
            <div class="form-group">
              <label for="rol_id">Id rol:</label>
              <div class="input-group">
                <select class="form-control" formControlName="rol_id">
                  <option value="" disabled selected style="font-size: 12px; font-weight: lighter;">Opciones</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text">
                    <mat-icon>arrow_drop_down</mat-icon>
                  </span>
                </div>
              </div>
              <div *ngIf="usuarioForm.get('rol_id')?.invalid && usuarioForm.get('rol_id')?.touched"
            class="error-message form-text text-danger">La clave de usuario es requerida </div>
            </div>
            
         <input type="submit" class="btn" value="editar">  
      </div>
    </div>
    </form>
    
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">person</i>
          <span class="text-home">Editar Usuario</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 

