.contenedor-con-fondo {
    /* Establece una altura para el contenedor */
    height: 90px; /* Puedes ajustar esta altura según tus necesidades */

    /* Establece la imagen como fondo */
    background-image: url('../../../assets/img/Navbars.png');
    /* Ajusta la posición y tamaño de la imagen de fondo */
    background-size: cover; /* La imagen se ajustará al tamaño del contenedor */
    background-position: center; /* La imagen se centrará dentro del contenedor */
    /* Fija el contenedor en la parte superior de la ventana */
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Opcional, si deseas que el contenedor se extienda hasta el borde derecho */
    z-index: 980; /* Asegura que el contenedor esté por encima de otros elementos */
}
.title {

    background-size: cover;
    padding: 8px;
    /* Ajusta otros estilos según tus necesidades */

  }
  .icon-and-text {
    display: flex;
    align-items: center;
   
  }
  
  .icon-and-text i {
    margin-right: 5px; /* Ajusta el espacio entre el icono y el texto según tus preferencias */
    position: absolute;
    top: 28%;
    left: 45%;
  }
  
  .text-home{
    position: absolute;
    top: 30%;
    left: 47%;
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
    font-size: 24px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: bold; 
  }

  .text-container{
    position: absolute;
    color:rgb(83, 77, 77);
    top: 18%;
    left: 40%;
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
    font-size: 25px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: 1000;
  }
  
  .imagen-centrada{
    position: absolute;
    top: 26%;
    left: 31%;
    width: 39%; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Opcional, si deseas que el contenedor se extienda hasta el borde derecho */
  z-index: 1000; /* Asegura que el contenedor esté por encima de otros elementos */
  }
  .imagen-ingreso{
    position: absolute;
    top: 70%;
    left: 27%;
    width: 10%; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
  }
  .imagen-usuario{
    position: absolute;
    top: 70%;
    left: 65%;
    width: 9.5%; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
  }
  .pregunta1{
    position: absolute;
    color:rgb(83, 77, 77);
    top: 65%;
    left: 15%;
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: 1000;
  }
  .pregunta2{
    position: absolute;
    color:rgb(83, 77, 77);
    top: 65%;
    left: 55%;
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: 1000;
  }
  .boton-registrar {
    width: 100px; /* Ajusta el tamaño del botón según sea necesario */
    height: 40px; /* Ajusta el tamaño del botón según sea necesario */
    background-color: rgb(166, 181, 99); /* Establece el color de fondo del botón */
    color: white; /* Establece el color del texto del botón */
    font-size: 16px; /* Ajusta el tamaño de la fuente del botón según sea necesario */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    display: flex; /* Permite centrar el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    border-top-left-radius: 10px; /* Establece la esquina superior izquierda redonda */
    border-bottom-left-radius: 10px; /* Establece la esquina inferior izquierda redonda */
    border-top-right-radius: 10px; /* Establece la esquina superior izquierda redonda */
    border-bottom-right-radius: 10px; /* Establece la esquina inferior izquierda redonda */
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Opcional, si deseas que el contenedor se extienda hasta el borde derecho */
    z-index: 990; /* Asegura que el contenedor esté por encima de otros elementos */
}
.boton-register{
  position: absolute;
  top: 92%;
  left: 28%;
}

.boton-agregar-usuario {
    width: 100px; /* Ajusta el tamaño del botón según sea necesario */
    height: 40px; /* Ajusta el tamaño del botón según sea necesario */
    background-color: rgb(166, 181, 99); /* Establece el color de fondo del botón */
    color: white; /* Establece el color del texto del botón */
    font-size: 16px; /* Ajusta el tamaño de la fuente del botón según sea necesario */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    display: flex; /* Permite centrar el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    border-top-left-radius: 10px; /* Establece la esquina superior izquierda redonda */
    border-bottom-left-radius: 10px; /* Establece la esquina inferior izquierda redonda */
    border-top-right-radius: 10px; /* Establece la esquina superior izquierda redonda */
    border-bottom-right-radius: 10px; /* Establece la esquina inferior izquierda redonda */
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Opcional, si deseas que el contenedor se extienda hasta el borde derecho */
    z-index: 990; /* Asegura que el contenedor esté por encima de otros elementos */
}
.boton-add{
  position: absolute;
  top: 92%;
  left: 66%;
}
.imagen-centrada{
  position: absolute;
  top: 26%;
  left: 31%;
  width: 39%; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}

.ver-perfil{

  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Opcional, si deseas que el contenedor se extienda hasta el borde derecho */
  z-index: 999; /* Asegura que el contenedor esté por encima de otros elementos */
}
.verperfilposition{
  position: absolute;
  top: 20%;
  left: 71%;
}
