<div class="contenedor-con-fondo">

    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">home</i>
          <span class="text-home">Home</span>
          
          <div class="ver-perfil verperfilposition"><app-navbarfinanzas></app-navbarfinanzas></div>
          <app-menuhamburguesafinanzas></app-menuhamburguesafinanzas>
        </span>
      
      </div>
    </div>
  </div> 
  
  
  <div>
    <h1 class="text-container">Bienvenid@ Finanzas</h1>
    <div>
      <div>
        <img src="../../assets/img/bienvenido.png" class="imagen-centrada" alt="Tu imagen">
      </div>
    </div>
  
  
    <div>
      <div>
        <h2 class="pregunta1">¿Quieres registrar un nuevo ingreso?</h2>
        <img src="../../assets/img/Ingreso.png" class="imagen-ingreso" alt="Tu imagen">
        <button (click)="Nuevoingreso()" class="boton-registrar boton-register btn btn-primary">Registrar</button>
      </div>
      <div >
        <h2 class="pregunta2">¿Quieres registar un nuevo egreso?</h2>
        <img src="../../assets/img/egreso.png" class="imagen-usuario" alt="Tu imagen">
        <button (click)="Nuevoegreso()" class="boton-agregar-usuario boton-add btn btn-primary">Registrar</button>
      </div>
    </div>
  </div>
  
  
  
  
  <!-- Aquí añade el resto de tu contenido -->
  