<form [formGroup]="productoForm" (ngSubmit)="agregarproducto()">
<div class="card formulario">
    <div class="card-header">
      <div class="text-header">Agregar Producto/Servicio</div>
    </div>
    <div class="card-body">
        <div class="form-group">
          <label for="producto">Descripcion de producto o servicio:</label>
          <input type="text" class="form-control" id="producto" formControlName="producto" placeholder="Ingresa el producto">
          <div *ngIf="productoForm.get('producto')?.invalid && productoForm.get('producto')?.touched"
          class="error-message form-text text-danger">El producto es requerido con minimo 3 caracteres </div>
        </div>
       <input type="submit" class="btn" value="agregar">  
    </div>
  </div>
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">local_shipping</i>
          <span class="text-home">Agregar Producto/Servicio</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 
  </form>

