<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav">
      <mat-nav-list>
        <a mat-list-item href="./ver-ingresosgerente"> <mat-icon>attach_money</mat-icon> Ingresos</a>
        <hr>
        <a mat-list-item href="./ver-egresosgerente"> <mat-icon>money</mat-icon>  Egresos</a>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <a mat-list-item href="./home-gerente">  <mat-icon>arrow_back</mat-icon> Regresar a la pagina principal</a>
        <hr>
        <!-- Agrega más opciones según sea necesario -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button class="menu-toggle" (click)="sidenav.toggle()">
          <mat-icon class="hamburger-icon">menu</mat-icon>
        </button>
      </mat-sidenav-content>
    </mat-sidenav-container>
