<form [formGroup]="empresaForm" (ngSubmit)="agregarempresa()">
<div class="card formulario">
    <div class="card-header">
      <div class="text-header">Agregar Empresa</div>
    </div>
    <div class="card-body">

        <div class="form-group">
          <label for="nombreempresa">Nombre de la Empresa:</label>
          <input type="text" class="form-control" id="nombreempresa" formControlName="nombreempresa" placeholder="Ingresa la empresa">
          <div *ngIf="empresaForm.get('nombreempresa')?.invalid && empresaForm.get('nombreempresa')?.touched"
          class="error-message form-text text-danger">El nombre es requerido </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="empresaForm.invalid">Agregar</button>
     
    </div>
  </div>
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">business</i>
          <span class="text-home">Agregar Empresa</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 
</form>
