<div class="contenedor-con-fondo">

  <div class="row align-items-center">
    <div class="col-md-6">
      <span class="icon-and-text">
        <i class="material-icons">home</i>
        <span class="text-home">Home</span>
        
        <div class="ver-perfil verperfilposition"><app-navbar></app-navbar></div>
        <app-menuhamburguesa></app-menuhamburguesa>
      </span>
    
    </div>
  </div>
</div> 


<div>
  <h1 class="text-container">Bienvenido Administrador(a)</h1>
  <div>
    <div>
      <img src="../../assets/img/bienvenido.png" class="imagen-centrada" alt="Tu imagen">
    </div>
  </div>


  <div>
    <div>
      <h2 class="pregunta1">¿Quieres registrar un nuevo ingreso?</h2>
      <img src="../../assets/img/Ingreso.png" class="imagen-ingreso" alt="Tu imagen">
      <button (click)="Ingreso()" class="boton-registrar boton-register btn btn-primary">Registrar</button>
    </div>
    <div >
      <h2 class="pregunta2">¿Quieres agregar un nuevo usuario?</h2>
      <img src="../../assets/img/usuarionuevo.png" class="imagen-usuario" alt="Tu imagen">
      <button (click)="Nuevousuario()" class="boton-agregar-usuario boton-add btn btn-primary">Agregar</button>
    </div>
  </div>
</div>




<!-- Aquí añade el resto de tu contenido -->
