<div class="contenedor-con-fondo ">
<app-navbar>
</app-navbar>

<span class="icon-and-text">
    <i class="material-icons">home</i>
    <span class="text">Home</span>
  <app-menuhamburguesa></app-menuhamburguesa>


  </span>

  <div>
    <h1 class="text-container">Bienvenido Administrador(a)</h1>
    <img src="../../assets/img/bienvenido.png" class="imagen-centrada" alt="Tu imagen">
<h2 class="pregunta1">¿Quieres registrar un nuevo ingreso?</h2>
    <img src="../../assets/img/Ingreso.png" class="imagen-ingreso" alt="Tu imagen">
    <button (click)="Ingreso()" class="boton-registrar">Registrar</button>
    <h2 class="pregunta2">¿Quieres agregar un nuevo usuario?</h2>
    <img src="../../assets/img/usuarionuevo.png" class="imagen-usuario" alt="Tu imagen">
    <button (click)="Nuevousuario()" class="boton-agregar-usuario">Agregar</button>
 </div>




  
  
 

</div>

<!-- Aquí añade el resto de tu contenido -->
