
<div class="card formulario">
    <div class="card-header">
      <div class="text-header">Agregar Origen de Egreso</div>
    </div>
    <div class="card-body">
      <form action="#">
        <div class="form-group">
          <label for="username">Cuenta Origen Egreso:</label>
          <input required="" class="form-control" name="nombrecompleto" id="nombrecompleto" type="text">
        </div>
        <div class="form-group">
            <label for="username">Tipo de cuenta:</label>
            <input required="" class="form-control" name="nombrecompleto" id="nombrecompleto" type="text">
          </div>
       <input type="submit" class="btn" value="agregar">  
     </form>
    </div>
  </div>
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">money</i>
          <span class="text-home">Agregar Origen</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 