<form [formGroup]="origenForm" (ngSubmit)="agregarOrigen()">
<div class="card formulario">
    <div class="card-header">
      <div class="text-header">Agregar Origen de Egreso</div>
    </div>
    <div class="card-body">
        <div class="form-group">
          <label for="origenegreso">Cuenta Origen Egreso:</label>
          <input type="text" class="form-control" id="origenegreso" formControlName="origenegreso" placeholder="Ingresa el origen de egreso">
          <div *ngIf="origenForm.get('origenegreso')?.invalid && origenForm.get('origenegreso')?.touched"
          class="error-message form-text text-danger">El origen es requerido </div>
        </div>
        <div class="form-group">
          <label for="tipodecuenta">Tipo de cuenta:</label>
          <div class="input-group">
            <select class="form-control" formControlName="tipodecuenta">
              <option value="" disabled selected style="font-size: 12px; font-weight: lighter;">Opciones</option>
              <option value="mayor">Mayor</option>
              <option value="menor">Menor</option>
            </select>
            <div class="input-group-append">
              <span class="input-group-text">
                <mat-icon>arrow_drop_down</mat-icon>
              </span>
            </div>
          </div>
          <div *ngIf="origenForm.get('tipodecuenta')?.invalid && origenForm.get('tipodecuenta')?.touched"
          class="error-message form-text text-danger">El tipo de cuenta es requerido </div>
        </div>
       <input type="submit" class="btn" value="agregar">  
    </div>
  </div>
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">money</i>
          <span class="text-home">Agregar Origen</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 
</form>