
.contenedor-con-fondo {
    /* Establece una altura para el contenedor */
    height: 90px; /* Puedes ajustar esta altura según tus necesidades */

    /* Establece la imagen como fondo */
    background-image: url('../../../assets/img/Navbars.png');
    /* Ajusta la posición y tamaño de la imagen de fondo */
    background-size: cover; /* La imagen se ajustará al tamaño del contenedor */
    background-position: center; /* La imagen se centrará dentro del contenedor */
}
.title {

    background-size: cover;
    padding: 8px;
    /* Ajusta otros estilos según tus necesidades */

  }
  .icon-and-text {
    display: flex;
    align-items: center;
   
  }
  
  .icon-and-text i {
    margin-right: 5px; /* Ajusta el espacio entre el icono y el texto según tus preferencias */
    position: absolute;
    top: 21%;
    left: 45%;
  }
  
  
  .text {
    position: absolute;
    top: 25%;
    left: 47%;
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
    font-size: 24px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: bold; 
  }

  .text-container{
    position: absolute;
    color:rgb(83, 77, 77);
    top: 18%;
    left: 35%;
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
    font-size: 25px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: 1000;
  }

  .container{
 height: 80px;
  }

  .pink-background {
    background-color: #ffc0cb; /* Color rosa pastel */
  }

   /* add */
   .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 10px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(33, 109, 30) 0%, rgb(65, 117, 34) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #44be6798;
    letter-spacing: 0.05em;
    border-radius: 30em;
  }
  
  .cssbuttons-io-button svg {
    margin-right: 6px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #34aa5898;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #52d17698;
  }
  
  .positionadd{
    position: absolute;
  top: 20px;
  left: 1150px;
  }

  /* boton dowland  */

  .button {
    position: relative;
    width: 140px;
    height: 33px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #17795E;
    background-color: #17795E;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    display: inline-block; /* Para que el texto se comporte como un bloque */
    text-align: center; /* Centrar el texto horizontalmente */
    color: #fff;
    font-weight: 600;
  }
  
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #17795E;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #146c54;
  }
  
  .button:active {
    border: 1px solid #20662f;
  }

  .position-dowland{
    position: absolute;
    top: 20px;
    left: 980px;
  }


  /* botonregresar */

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #312e2e; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #333; /* Color de fondo al pasar el mouse */
  }
  
  mat-icon {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    font-size: 24px; /* Tamaño del ícono */
  }

.positionback{
 position: absolute;
  top: 18px;
  left: 17px;
}
  
.producto-cell {
  width: 12%; /* Porcentaje del ancho de la tabla para las celdas de producto */
}

.button-cell {
  width: 10%; /* Porcentaje del ancho de la tabla para las celdas de botón */
}