<form [formGroup]="productoForm" (ngSubmit)="actualizarProducto()">
<div class="card formulario">
    <div class="card-header">
      <div class="text-header">Editar Producto/Servicio</div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="producto">Producto:</label>
        <input type="text" id="producto" formControlName="producto" class="form-control">
      </div>
       <input type="submit" class="btn" value="editar">  
    </div>
  </div>
</form>
  



<div class="contenedor-con-fondo">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="icon-and-text">
          <i class="material-icons">local_shipping</i>
          <span class="text-home">Editar Producto/Servicio</span>
        </span>
        <button (click)="regresar()" class="positionback"><mat-icon>arrow_back</mat-icon>Regresar</button>
       
      
      </div>
    </div>
  </div> 


